{% extends 'layout.html' %}
{% block titulo %}
<meta charset="UTF-8">
<title>Title</title>
<link rel="stylesheet" type="text/css" href="static/style.css">
{% endblock %}

{% block conteudo %}
<body>
<div class="login-box">
    <form method="post">
        <h3>Utilizador</h3>
        <input type="text" name="usr" required>
        <h3>Introduza a Palavra-Passe</h3>
        <input type="password" name="pwd" required>
        <p><br></p>
        <input type="submit" value="Eliminar">
        <center>
            {% if erro %}<h1>{{ erro }}</h1>{% endif %}
        </center>
    </form>
</div>

</body>
{% endblock %}
