<!DOCTYPE html>
<html lang="pt-PT">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
    {% block titulo %}
    {% endblock %}


<div class="header">
  <a href="/" class="logo">CompanyLogo</a>
  <div class="header-right">
    <a class="active" href="/">Home</a>
    <a href="/login">Entrar</a>
    <a href="/registo">Registo</a>
    <a href="/newpass">Alterar Passe</a>
    <a href="/apagar">Eliminar Conta</a>
  </div>
</div>
<br>

{% block conteudo %}
{% endblock %}
</head>

<body>
</body>
<center>
    <h3>&copy; Copyright 2019 João Duarte</h3>
</center>
</html>
