{% extends 'layout.html' %}
{% block titulo %}
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
{% endblock %}
{% block conteudo %}
<body>
<h1>ALTERAR SENHA</h1>

<form method="post">
    <fieldset>
    <h2>Utilizador</h2>
    <input type="text" name="usr" required>
    <h2>Nova Palavra-Passe</h2>
    <input type="password" name="pwd" required>
    <h2>Confirme a Palavra-Passe</h2>
    <input type="password" name="cpwd" required>
    <p><br></p>
    <input type="submit" value="Submeter">
    </fieldset>
</form>

{% if erro %}<h1>{{ erro }}</h1>{% endif %}

</body>
{% endblock %}
